/dist
/node_modules

# IDE config files
.idea
.vscode

# Environment variables
.env*
!/.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/build
/coverage

# Functions config
functions/src/config.ts
