[build]
command = "npm run build"
publish = "dist"
functions = "functions-dist"

[functions]
node_bundler = "esbuild"
directory = "functions-dist"
timeout = 26

[functions."process-analysis-job"]
background = true

[functions."process-import-job"]
background = true

